workspaces-experimental false
save-prefix "^"
ignore-scripts false
ignore-optional false
ignore-engines false

--install.skip-integrity-check true
--install.no-lockfile true
--install.no-node-version-check true
